$white: rgb(255, 250, 250);
$matte-black: rgb(40, 40, 43);
$dark: rgb(27, 18, 18);
$leading: rgb(125, 8, 8);
$leading-lighter: rgb(138, 7, 0);
$leading-brighter: rgb(220, 20, 60);

// $leading: rgb(87, 24, 69);
// $leading: rgb(144, 12, 62);
// $leading: rgb(199, 0, 57);
