@media (min-width: 992px) {
	html {
		scroll-padding-top: 109px;
	}

	.section {
		padding: 8em 4em;

		&__heading {
			font-size: 5rem;
		}
	}

	.logo {
		font-size: 4.5rem;
	}

	// Nawigacja
	.navbar {
		&-links {
			position: relative;
			top: 0;
			flex-direction: row;
			padding-bottom: 0;
			height: 100%;
			min-height: 97px;
			opacity: 1;
			transform: translateX(0);
		}

		&__link {
			font-size: 2.3rem;
		}

		&-hamburger {
			display: none;
		}
	}

	// Header
	.header {
		&-box {
			&__heading {
				font-size: 9rem;

				&-span {
					font-size: 2.5rem;
				}
			}

			&__offer-link {
				font-size: 3rem;
			}
		}
	}

	// O nas
	.aboutus {
		display: flex;
		align-items: center;
		justify-content: center;

		&-box {
			padding: 1em 3em 5em;
			width: calc(100% / 3);
			height: clamp(350px, 450px, 550px);
		}
	}

	// Kontakt
	.contact {
		&-box {
			&-form {
				font-size: 2.4rem;

				&__item {
					margin: 1.2em 0;

					&:last-of-type {
						.contact-box-form__input,
						.contact-box-form__label {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}

	// Stopka
	.footer {
		&-box {
			padding: 3em 0;
			&-info {
				&__list {
					display: flex;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	html {
		scroll-padding-top: 121px;
	}

	.logo {
		font-size: 5rem;
	}

	// Nawigacja
	.navbar {
		&__link {
			font-size: 2.6rem;
		}
	}

	// Header
	.header {
		&-box {
			&__heading {
				font-size: 9rem;

				&-span,
				&__offer-link {
					font-size: 3rem;
				}
			}
		}
	}

	// O nas
	.aboutus {
		&-box {
			&__content {
				font-size: 1.6rem;
			}
		}
	}

	// Oferta
	.offer {
		&-products-box {
			margin: 8em 0;
		}
	}

	// Stopka
	.footer {
		&-box {
			&-info {
				&__list {
					&-link {
						font-size: 2rem;
					}
				}
			}

			&__logo {
				font-size: 6rem;
			}

			&__copyright {
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 1440px) {
	// O nas
	.aboutus {
		&-box {
			&__content {
				font-size: 1.8rem;
			}
		}
	}
}
