@use 'colors' as c;

@media (min-width: 992px) {
	html {
		scroll-padding-top: 100px;
	}

	.section {
		padding: 8em 4em;

		&__heading {
			font-size: 5rem;
		}
	}

	.logo {
		font-size: 4.5rem;
	}

	.scale-in-center {
		&:nth-of-type(2) {
			animation-delay: 0.3s;
		}
		&:nth-of-type(3) {
			animation-delay: 0.6s;
		}
	}

	.navbar {
		overflow: hidden;

		&-links {
			position: relative;
			top: 0;
			flex-direction: row;
			padding-bottom: 0;
			height: 100%;
			min-height: 97px;
			opacity: 1;
			transform: translateX(0);
		}

		&__link {
			position: relative;
			margin: 0;
			padding: 1em 1.2em;
			font-size: 2.5rem;
			outline: none;
			transition: color 0.3s, text-shadow 0.3s;
			z-index: 1;

			&::after {
				content: '';
				opacity: 0;
				position: absolute;
				top: -20%;
				left: 0;
				width: 100%;
				height: 150%;
				background-color: c.$leading;
				transition: opacity 0.3s;
				z-index: -1;
			}

			&:hover,
			&:focus {
				color: c.$white;
				text-shadow: 0 0 7px #000;

				&::after {
					opacity: 1;
				}
			}
		}

		&-hamburger {
			display: none;
		}
	}

	.header {
		&-box {
			padding-top: 20em;
			&__heading {
				font-size: 9rem;

				&-span {
					font-size: 2.5rem;
				}
			}

			&__offer-link {
				font-size: 3.5rem;
			}
		}
	}

	.aboutus {
		display: flex;
		align-items: center;
		justify-content: center;

		&-box {
			padding: 1em 3em 5em;
			width: calc(100% / 3);
			height: clamp(350px, 450px, 550px);
		}
	}

	.offer {
		&-products-box {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			&__desktop-list {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: 2.2em;
				width: 100%;

				&-item {
					margin: 0 2.5em 1em 0;

					&-button {
						position: relative;
						padding-bottom: 2px;
						font-weight: bold;
						font-size: 2.2rem;
						color: c.$matte-black;
						background: transparent;
						border: none;
						border-bottom: 0px solid transparent;
						transition: color 0.3s;
						cursor: pointer;

						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: -3px;
							width: 100%;
							height: 3px;
							transform: scale(0);
							transition: transform 0.4s;
							background-color: c.$leading-brighter;
						}

						&:hover,
						&:focus {
							color: c.$leading-brighter;
						}

						&--active {
							color: c.$leading-brighter;

							&::after {
								transform: scale(1);
							}
						}
					}
				}
			}

			&-images {
				margin: 0 1em;
				width: 45%;
			}

			&__list {
				&-item {
					border-bottom: none;

					&--hidden {
						display: none;
					}

					&-button {
						display: none;
					}

					&-description {
						display: none;
						justify-content: space-between;
						align-items: flex-start;
						max-height: max-content;

						&--active {
							display: flex;
							max-height: max-content;
						}

						&-p {
							width: 45%;
						}

						&-box {
							width: 45%;
						}
					}
				}
			}
		}
	}

	.contact {
		&-box {
			&-form {
				font-size: 2.4rem;

				&__item {
					&:nth-of-type(5) {
						.contact-box-form__input,
						.contact-box-form__label {
							font-size: 1.6rem;
						}
					}
				}

				&-message-sent {
					&-content {
						width: 60%;
					}
				}
			}
		}
	}

	.footer {
		&-box {
			padding: 3em 0;
			&-info {
				&__list {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(2, 1fr);

					&-item {
						&:first-of-type {
							grid-column: 1 / 2;
							grid-row: 1 / 2;
						}

						&:nth-of-type(2) {
							grid-column: 2 / 3;
							grid-row: 1 / 2;
						}

						&:nth-of-type(3) {
							grid-column: 1 / 2;
							grid-row: 2 / 3;
						}

						&:nth-of-type(4) {
							grid-column: 2 / 3;
							grid-row: 2 / 3;
						}
					}
				}
			}
		}
	}

	.error-404-main {
		padding: 20em 4em 6em;

		&__img {
			width: 40%;
		}

		&__header {
			margin-top: 2em;
			font-size: 4rem;
		}

		&__return-button {
			margin-top: 3em;
			font-size: 3rem;
		}
	}
}

@media (min-width: 1200px) {
	html {
		scroll-padding-top: 101px;
	}

	.logo {
		font-size: 5rem;
	}

	.navbar {
		&__link {
			font-size: 2.8rem;
		}
	}

	.offer {
		&-products-box {
			margin: 4em 0;
		}
	}

	.contact {
		&-box {
			&-form {
				&-message-sent {
					&-content {
						width: 50%;
					}
				}
			}
		}
	}

	.footer {
		&-box {
			&-info {
				&__list {
					&-link {
						font-size: 2rem;
					}
				}
			}

			&__logo {
				font-size: 6rem;
			}

			&__copyright {
				font-size: 1.8rem;
			}
		}
	}

	.error-404-main {
		&__img {
			width: 35%;
		}
	}
}

@media (min-width: 1440px) {
	.aboutus {
		&-box {
			&__content {
				font-size: 2rem;

				&-link {
					&:last-of-type {
						font-size: 2.4rem;
					}
				}
			}
		}
	}

	.contact {
		&-box {
			&-form {
				&-message-sent {
					&-content {
						width: 45%;
					}
				}
			}
		}
	}
}
