@media (min-width: 576px) {
	.section {
		padding: 6em 4em;
	}

	.logo {
		font-size: 3.5rem;
	}

	// Header
	.header {
		&-box {
			&__heading {
				font-size: 7rem;
			}

			&__offer-link {
				font-size: 2.5rem;
			}
		}
	}

	// O nas
	.aboutus {
		&-box {
			padding: 2.5em 2.5em 3.5em;

			&__heading {
				font-size: 3rem;

				.fa-solid {
					font-size: 4rem;
				}
			}
			&__content {
				font-size: 1.5rem;
			}
		}
	}

	// Oferta
	.offer {
		&-products-box {
			&__img {
				height: 350px;
			}
		}
	}

	// Kontakt
	.contact {
		&-box {
			&-form {
				&__item {
					margin: 0.8em 0;
				}
			}

			&__map {
				margin-top: 5em;
			}
		}
	}

	// Stopka
	.footer {
		&-box {
			flex-direction: row;
			justify-content: space-around;

			&-info {
				&__list {
					&-link {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.section {
		&__heading {
			font-size: 4.5rem;
		}
	}

	.logo {
		font-size: 4rem;
	}

	// Header
	.header {
		background-image: url(/dist/img/desktop/header-bg.jpg);

		&-box {
			min-height: 70vh;
			&__heading {
				font-size: 8.5rem;
			}
		}
	}

	// O nas
	.aboutus {
		&-box {
			&__heading {
				font-size: 3.5rem;

				.fa-solid {
					font-size: 4.5rem;
				}
			}

			&__content {
				font-size: 1.6rem;
			}
		}
	}

	// Oferta
	.offer {
		&-box {
			&__heading {
				margin-bottom: 0.5em;
			}
		}

		&-products-box {
			display: flex;
			justify-content: space-around;
			margin: 6em 0;

			&__img {
				margin: 0 1em;
				max-width: 50%;
				height: auto;
			}

			&__list {
				padding-top: 0;
				width: 45%;

				&-item {
					&:first-of-type {
						padding: 0 0 0.5em;
					}
					&-button {
						font-size: 1.8rem;
					}
				}
			}
		}
	}

	// Kontakt
	.contact {
		&-box {
			&-form {
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				font-size: 2rem;

				&__item {
					margin: 1em 0;
					&:first-of-type,
					&:nth-of-type(2),
					&:nth-of-type(3) {
						width: 30%;
					}

					&:last-of-type {
						.contact-box-form__input,
						.contact-box-form__label {
							font-size: 1.4rem;
						}
					}
				}

				&__submit-button {
					left: 100%;
					font-size: 2.5rem;
					transform: translateX(-100%);
				}
			}
		}
	}
}
