@use 'colors' as c;

@media (min-width: 576px) {
	.section {
		padding: 6em 4em;
	}

	.logo {
		font-size: 3.5rem;
	}

	.navbar {
		&__link {
			font-size: 3rem;
		}
	}

	.header {
		&-box {
			&__heading {
				font-size: 7rem;

				&-span {
					font-size: 2.4rem;
				}
			}

			&__offer-link {
				font-size: 3rem;
			}
		}
	}

	.aboutus {
		&-box {
			padding: 2.5em 2.5em 3.5em;

			&__heading {
				font-size: 3rem;

				.fa-solid {
					font-size: 4rem;
				}
			}
			&__content {
				font-size: 1.8rem;

				&-link {
					&:last-of-type {
						font-size: 2.2rem;
					}
				}
			}
		}
	}

	.contact {
		&-box {
			&-form {
				&-message-sent {
					&-content {
						width: 75%;
					}
				}
			}

			&__map {
				margin-top: 5em;
			}
		}
	}

	.footer {
		&-box {
			flex-direction: row;
			justify-content: space-around;

			&__logo {
				font-size: 4.5rem;
			}

			&-info {
				&__list {
					&-link {
						font-size: 1.8rem;
					}
				}
			}

			&__copyright {
				font-size: 1.6rem;
			}
		}
	}

	.error-404-main {
		padding: 15em 4em 6em;

		&__img {
			width: 50%;
		}

		&__header {
			margin-top: 1.5em;
			font-size: 3.4rem;
		}

		&__return-button {
			margin-top: 2.5em;
			padding: 0.25em 0.5em;
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 81px;
	}

	.section {
		&__heading {
			font-size: 4.5rem;
		}
	}

	.logo {
		font-size: 4rem;
	}

	.navbar {
		&-links {
			top: 81px;
			min-height: calc(100vh - 81px);
		}

		&__link {
			font-size: 3rem;
		}
	}

	.header {
		background-image: url(/dist/img/desktop/header-bg.webp);

		&-box {
			&__heading {
				font-size: 8.5rem;
			}
		}
	}

	.aboutus {
		&-box {
			&__heading {
				font-size: 3.5rem;

				.fa-solid {
					font-size: 4.5rem;
				}
			}
		}
	}

	.offer {
		&-products-box__list-item-description,
		&-products-box__list-item-description-list-item-button {
			font-size: 1.8rem;
		}

		&-box {
			&__heading {
				margin-bottom: 0.5em;
			}
		}
	}

	.contact {
		&-box {
			&-form {
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				font-size: 2rem;

				&__item {
					margin: 0.2em 0;

					&:first-of-type,
					&:nth-of-type(2),
					&:nth-of-type(3) {
						width: 30%;
					}
				}

				&__submit-button {
					left: 100%;
					font-size: 2.5rem;
					transform: translateX(-100%);
				}
			}
		}
	}

	.footer {
		&-box {
			&__logo {
				font-size: 5rem;
			}
		}
	}
}
