@use 'colors' as c;

html {
	scroll-behavior: smooth;
	scroll-padding-top: 74px;
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

// Nawigacja
.nav {
	position: fixed;
	width: 100%;
	background-color: c.$white;
	border-bottom: 3px solid c.$leading;
	z-index: 100;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 71px;

	&-hamburger {
		border: none;
		outline: none;
		background-color: transparent;
		padding: 2.5em;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			.navbar-hamburger__icon,
			.navbar-hamburger__icon::before,
			.navbar-hamburger__icon::after {
				background-color: c.$leading-brighter;
			}
		}

		&__icon {
			position: relative;
			width: 25px;
			height: 3.5px;
			background-color: c.$leading;
			transition: height 0.1s, background-color 0.3s;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				width: 25px;
				height: 3.5px;
				background-color: c.$leading;
				transition: transform 0.3s, background-color 0.3s;
				transform-origin: right;
			}

			&::before {
				bottom: 7px;
			}
			&::after {
				top: 7px;
			}
		}

		&--active {
			.navbar-hamburger__icon {
				height: 0;
			}

			.navbar-hamburger__icon::before {
				transform: rotate(-45deg);
			}

			.navbar-hamburger__icon::after {
				transform: rotate(45deg);
			}
		}
	}

	&-links {
		position: absolute;
		top: 74px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(100vh - 74px);
		background-color: c.$white;
		transform: translateX(102%);
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		z-index: 100;

		&--active {
			.navbar-links {
				opacity: 1;
				transform: translateX(0%);
			}
		}
	}

	&__link {
		margin: 0.5em 0;
		padding: 1em 2em;
		font-size: 2.5rem;
		color: c.$leading;
		font-weight: bold;
		transition: color 0.4s;

		&:hover {
			color: c.$leading-brighter;
		}
	}
}

// Header
.header {
	position: relative;
	padding-top: 73px;
	min-height: 100vh;
	background-image: url(/dist/img/mobile/header-bg.webp);
	background-position: center;
	background-size: cover;
	z-index: 0;

	&__hero-img {
		position: absolute;
		height: calc(100% - 73px);
		width: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: -1;
	}

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		min-height: calc(100vh - 73px);
		text-align: center;

		&__heading {
			font-size: 5rem;
			font-family: 'Cinzel', serif;
			text-transform: uppercase;
			color: c.$leading;

			&-span {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.8rem;
				color: c.$white;
			}
		}

		&__offer-link {
			padding-bottom: 3px;
			font-size: 2.4rem;
			color: c.$white;
			outline: none;
			border-bottom: 2px solid c.$leading;
			transition: color 0.3s;

			&::before {
				bottom: -2px;
			}

			&:hover,
			&:focus {
				text-shadow: 1px 1px 2px c.$dark;
			}
		}
	}
}

// O nas
.aboutus {
	padding-top: 8em;
	color: c.$white;

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5em 2em 3.5em;
		text-align: center;

		&__heading {
			padding-bottom: 0.7em;
			font-size: 2.5rem;
			text-transform: uppercase;

			.fa-solid {
				display: block;
				padding-bottom: 0.5em;
				font-size: 3.5rem;
			}
		}

		&:nth-of-type(2),
		&:nth-of-type(3) {
			.aboutus-box__content {
				display: grid;
				grid-template-rows: repeat(2, 1fr);
				justify-items: center;
				row-gap: 1em;
			}
		}

		&__content {
			font-size: 1.6rem;
			line-height: 1.2;

			&-span {
				padding-bottom: 0.5em;
			}

			&-link {
				color: c.$white;
				outline: none;
				transition: color 0.3s;

				&:first-of-type {
					&:hover,
					&:focus {
						color: c.$leading-brighter;
					}
				}

				&:last-of-type {
					padding-bottom: 3px;
					font-size: 2rem;
					font-weight: bold;
					border-bottom: 3px solid c.$leading;

					&::before {
						bottom: -3px;
					}

					&:hover,
					&:focus {
						text-shadow: 1px 1px 2px c.$dark;
					}
				}
			}
		}
	}
}

// Oferta
.offer {
	background: rgb(0, 212, 255);
	background: linear-gradient(
		90deg,
		rgba(0, 212, 255, 1) 0%,
		rgba(174, 174, 181, 0.30575980392156865) 0%,
		rgba(49, 55, 54, 0.022846638655462215) 100%
	);

	&-box {
		&__heading {
			color: c.$matte-black;
			border-bottom: 1px solid c.$matte-black;
		}
	}

	&-products-box {
		&-images {
			position: relative;
			margin: 4em 0 3em;

			&__img {
				width: 100%;
				height: 250px;
				object-fit: contain;
				border-radius: 8px;
			}

			&__btn {
				position: absolute;
				top: 50%;
				padding: 0.5em 0.6em;
				color: c.$white;
				font-size: 2rem;
				background-color: rgba(0, 0, 0, 0.8);
				border: none;
				transform: translateY(-50%);
				cursor: pointer;

				&-span {
					display: block;
					transition: transform 0.3s;
				}

				&:hover {
					.offer-products-box-images__btn-span {
						transform: scale(0.85);
					}
				}

				&--left {
					left: 0;
				}

				&--right {
					right: 0;
				}

				&--hidden {
					display: none;
				}
			}
		}

		&__list {
			&-item {
				padding: 1.5em 0 0.5em;
				border-bottom: 1px solid c.$matte-black;

				&:last-of-type {
					border-bottom: none;
				}

				&-button {
					text-align: left;
					font-weight: bold;
					font-size: 1.8rem;
					color: c.$matte-black;
					outline: none;
					background: transparent;
					border: none;
					transition: color 0.3s;
					cursor: pointer;

					&:hover,
					&:focus {
						color: c.$leading-brighter;
					}
				}

				&-description {
					display: none;
					padding: 0.5em 0;
					font-size: 1.4rem;
					color: c.$dark;
					line-height: 1.4;

					&-bold-text {
						font-weight: bold;
					}

					&-single-line-break,
					&-double-line-break {
						&::before {
							white-space: pre;
						}
					}

					&-single-line-break {
						&::before {
							content: '\a';
						}
					}

					&-double-line-break {
						&::before {
							content: '\a \a';
						}
					}

					&-list {
						margin-top: 0.6em;

						&-item {
							margin: 0.6em 0;

							&-heading {
								font-size: 1.6rem;
								line-height: 1.1;
							}
						}
					}
				}

				&-description--active {
					display: block;
				}
			}
		}
	}
}

// Kontakt
.contact {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(112, 112, 112, 1) 100%);

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__heading {
			color: c.$white;
			border-bottom: 1px solid c.$white;
		}

		&-form {
			display: flex;
			flex-direction: column;
			margin: 3em 0;
			width: 100%;
			font-size: 1.8rem;
			color: c.$white;

			&__item {
				display: flex;
				flex-direction: column;
				margin: 0.3em 0;
				width: 100%;

				&:last-of-type {
					flex-direction: row;
					margin: 0.3em 0 2em;
					font-size: 1.2rem;

					.contact-box-form__input {
						display: grid;
						place-content: center;
						appearance: none;
						margin: 0 0.5em 0 0;
						padding: 0.6em;
						width: 1.15em;
						height: 1.15em;
						font: inherit;
						color: currentColor;
						border: 0.15em solid currentColor;
						border-radius: 0.15em;
						transform: translateY(-0.075em);
						transition: border 0.3s, box-shadow 0.3s;

						&::before {
							content: '';
							clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
							width: 0.8em;
							height: 0.8em;
							background-color: c.$leading-brighter;
							transform: scale(0);
							transform-origin: bottom left;
							transition: 120ms transform ease-in-out;
						}

						&:checked::before {
							transform: scale(1);
						}

						&:checked {
							border: 0.15em solid c.$leading;
							box-shadow: 0 0 5px 2px c.$leading;
						}

						&:hover,
						&:focus {
							border: 0.15em solid c.$leading;
							box-shadow: 0 0 5px 2px c.$leading;
						}
					}

					.contact-box-form__input,
					.contact-box-form__label {
						cursor: pointer;
					}
				}
			}

			&__label {
				display: flex;
				align-items: center;
			}

			&__icon {
				color: c.$leading;
				margin-right: 0.4em;
			}

			&__input,
			&__textarea {
				margin: 1em 0;
				padding: 0.7em 1em;
				font-size: 1.6rem;
				outline: none;
				border: 1px solid c.$matte-black;
				transition: border 0.2s, box-shadow 0.2s;

				&:focus {
					border: 1px solid c.$leading;
					box-shadow: 0 0 5px 2px c.$leading;
				}
			}

			&__textarea {
				resize: vertical;
			}

			&__submit-button {
				position: relative;
				align-self: flex-end;
				padding: 1em 2em;
				font-size: 2rem;
				color: c.$white;
				background-color: transparent;
				border: 1px solid c.$matte-black;
				border-radius: 8px;
				box-shadow: 0 1px 5px 2px c.$dark;
				overflow: hidden;
				outline: none;
				transition: box-shadow 0.3s, border 0.3s;
				cursor: pointer;
				z-index: 0;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: c.$matte-black;
					border-radius: 8px;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.3s;
					z-index: -1;
				}

				&:hover,
				&:focus {
					border: 1px solid c.$dark;
					box-shadow: 0 1px 5px 2px c.$matte-black;

					&::before {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}

		&__map {
			margin-top: 3em;
			width: 100%;
		}
	}
}

// Stopka
.footer {
	position: relative;
	padding: 3em 2em 6em;
	background-color: c.$white;

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5em 0;

		&__logo {
			font-size: 4rem;
		}

		&-info {
			&__list {
				text-align: center;

				&-item {
					margin: 1.5em 0;
				}

				&-link {
					padding: 1em;
					font-size: 1.5rem;
					color: c.$leading;
					font-weight: bold;
					transition: color 0.3s;

					&:hover,
					&:focus {
						color: c.$leading-brighter;
					}
				}
			}
		}

		&__copyright {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 1.5em 0;
			width: 100%;
			text-align: center;
			font-size: 1.4rem;
			color: c.$leading;
			border-top: 2px solid c.$leading;
		}
	}
}
